.p-event-midAutumn {
    height: calc(100vh - 64px);
    .pointer;
    .mt(64px);
    background-image: url("@{kv_midAutumn}2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #17243a;

    .m-box {
        padding: 4vh 0 0 10vw;
        box-sizing: border-box;
        .size(100%);
        img {
            height: 85vh;
            cursor: pointer;
        }
    }
}
.p-midautumn-detail {
    height: calc(100vh - 64px);
    .mt(64px);
    background-image: url("@{kv_midAutumn}1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #17243a;
    .u-bg {
        overflow: auto;
        .size(100%);
        background-color: rgba(23, 36, 58, 0.95);
        transition: all 1s ease;
        .scrollbar;
    }
    .u-main-box {
        max-width: 1300px;
        margin: 0 auto;
        padding: 160px 0 40px 0;
    }
}
