/* ====== 1. 页面容器 ====== */
.jx3story-main {
    margin-top: @header-height;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background-image: url("@{kv_jx3story}/main/main__bg.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.content__title-image {
    padding-top: 196px;
    width: 1305px;
    height: 568px;
    margin: 0 auto;
    display: block;
}

.content__lanterns {
    position: relative;
}
