.p-event-jx3story {
    position: relative;
    z-index: 1;

    background-image: url("@{kv_jx3story}/main/main__bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    .m-video {
        .full;
        .mp4 {
            width: 100%;
        }
    }
    .jx3story-main {
        position: relative;
    }

    .m-content {
        .pa;
        .full;
        .lt(0);
    }

    .content__title-image {
        padding-top: 196px;
        width: 1305px;
        height: 568px;
        margin: 0 auto;
        display: block;
    }
    .content__scroll-image {
        .pa;
        .rt(0px);
        .size(560px, 800px);
    }
}
