body {
    font-family: "outfit-Regular";
    height: 100%;
}
.p-event-content {
    .pt(64px);
    min-height: 300px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
}
